.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  // Focus styles
  .has-focus {
    border-radius: 3px;
    box-shadow: 0 0 0 2px red;
  }
}

/* General Styles for the Tiptap Editor */
.tiptap-container {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  overflow-y: auto;
}

.tiptap-toolbar {
  background-color: #00aff01a;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tiptap-editor {
  min-height: 300px;
  background-color: #fff;
  padding: 1rem;
}

.prose {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  font-weight: bold;
}

.prose ul,
.prose ol {
  padding-left: 2rem;
}

.prose p {
  margin-bottom: 1rem;
}

.prose code {
  background-color: #f3f4f6;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

/* Button Styles in the Menu */
.tiptap-button {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.tiptap-button.active {
  background-color: #8b5cf6;
  color: white;
}

.tiptap-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.tiptap-button:hover {
  background-color: #e9d8fd;
}

.tiptap-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.6);
}

/* Menu Bar */
/* Container for the editor toolbar */
.editor-toolbar {
  display: flex;
  gap: 10px;
}

/* Button styling */
.editor-button {
  padding: 8px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

/* Hover effect for buttons */
.editor-button:hover:not(.disabled) {
  background-color: #edf2f7; /* Light hover effect */
  transform: scale(1.1); /* Slight zoom effect */
}

/* Active state for buttons */
.editor-button.active {
  background-color: #6b46c1; /* Violet color for active buttons */
  color: white;
}

/* Disabled state for buttons */
.editor-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Size for icon elements inside buttons */
.editor-button svg {
  width: 20px;
  height: 20px;
  color: #4a5568; /* Dark color for icons */
}

/* Active state icon color */
.editor-button.active svg {
  color: white;
}

.has-focus {
  border-radius: 3px;
  box-shadow: 0 0 0 2px red;
}

/* remove outline */
.ProseMirror:focus {
  outline: none;
}
/* set */
.ProseMirror {
  min-height: 300px;
}
